
.left{
	text-align: left;
}

.center {
	text-align: center;
}

.centered {
	margin: 0 auto;
}

.bottom{
	vertical-align: bottom;
}

.progressbar_gen{
	display:none;
	border-collapse:collapse;
	width:100%;
}

.pr_size_gen{
	background-size: 100% 100%;
}

.pr_red_red_gen{ background-image: url('/vcs/static/images/pbar-red-red.png'); }
.pr_red_gray_gen{ background-image: url('/vcs/static/images/pbar-red-gray.png'); }
.pr_red_white_gen{ background-image: url('/vcs/static/images/pbar-red-white.png'); }
.pr_gray_gray_gen{ background-image: url('/vcs/static/images/pbar-gray-gray.png'); }
.pr_gray_white_gen{ background-image: url('/vcs/static/images/pbar-gray-white.png'); }
.pr_white_red_gen{ background-image: url('/vcs/static/images/pbar-white-red.png'); }
.pr_white_gray_gen{ background-image: url('/vcs/static/images/pbar-white-gray.png'); }

.pr_in_gen{
	color:white;
	font-size:33px;
	line-height: 51px
}

.big_progr{
	width:50px;
	height:50px;
	border-radius:25px;
}

.ltl_progr{
	width:18px;
	height:18px;
	border-radius:9px;
}

.pr_past{
	background:#FF6666;
}

.pr_current{
	background:#CC0033;
}

.pr_future{
	background:#999999;
}

.input_gen{
	width:20em;
}

.exam_td_gen{
	vertical-align:top;
}

.exam_span_gen{
	color:gray;
	font-size:0.7em;
}

.stage_gen{
	padding:5px;
	text-align:center;
}

.dotted_link{
	color:#999999;
	font-size:12px;
	font-weight:normal;
	border-bottom:1px dotted #999999;
	text-decoration:none;
}

.dotted_link_big{
	color:#FF6666;
	font-weight:normal;
	border-bottom:1px dotted #DB121A;
	text-decoration:none;
}

.nfc_link{
	text-decoration:none;
	color:#666666;
}

.optional_field{
	background-color:#F5F5F5;
	border-width:1px;
}

.bold_text{
	font-weight:bold;
}

.post_index{
	font-size:14px;
	color:#FF6666;
}

.ltl_text{
	font-size:12px;
	color:#999999;
	font-weight:normal;
}

.big_button{
	width:100%;
	height:40px;
	margin-bottom:2px
}
.small_button{
	height:25px;
}

.info_list{
	overflow:hidden;
	max-width:321px;
	text-overflow:ellipsis;
}

.m_right{
	text-align:right;
}

.dashed_line{
	border-bottom: 1px dashed #999999;
}

.width_full{
	width:100%;
}

.width_small{
	width:5%;
}

.margin_big{
	margin:50px;
}

.yandex_map{
	width:100%;
	height:400px;
}

.captcha_container {
	width:100%;
}

.g-recaptcha {
	transform-origin: left top;
	-webkit-transform-origin: left top;
}

.suppl_text {
	color:#585858;
}

.grayborder {
	border-collapse:collapse;
	border:1px solid #D3D3D3;
	padding:10px;
}

.biometric_box{
	padding-top:10px;
	padding-bottom:5px;
	border-bottom-width:1px;
	border-bottom-color:red;
	border-bottom-style:solid;	
	border-top-width:1px;
	border-top-color:red;
	border-top-style:solid;
}

.biometric_right {
	font-size:15px;
	color:#666666;
	padding:0px;
	display:inline-block;
}

.biometric_left {
	display:inline;
	height:37px;
}

.biometric_left_inner {
	height:37px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.disclaimer {
	border:1px solid black;
	display:none;
	padding:15px;
	font-size:9px;
	text-align:justify;
}

.no_border {
	border: none;
	border-spacing: 0;
	border-collanse: collapse;
}

.gray_txt{
	color:gray;
}