.tip-redsimple {
	z-index:1000;
	text-align:left;
	border:1px solid #CC0033;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#FFFFFF;
	background-color:#CC0033;
}
.tip-redsimple .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
	line-height:1.2;
}

.tip-redsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px;
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-redsimple_arrows.gif) no-repeat;
}
.tip-redsimple .tip-arrow-right {
	margin-top:-4px;
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(tip-redsimple_arrows.gif) no-repeat -9px 0;
}
.tip-redsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; 
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-redsimple_arrows.gif) no-repeat -18px 0;
}
.tip-redsimple .tip-arrow-left {
	margin-top:-4px;
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(tip-redsimple_arrows.gif) no-repeat -27px 0;
}