<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="[% static %]/jquery-1.7.2.min.js"></script>
<link href="[% static %]/css/autoform.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<font face="arial">

<center>
<div id="app_form" class="margin_big">

<script>

	function isMobile() {
		return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
	}

	var mobilScreen = isMobile();

	
	if ( mobilScreen ) {
		$('#app_form').hide();
	}

</script>

<form action = "[% addr %]?t=[% token %][% IF lang_in_link %]&lang=[% lang_in_link %][% END %]" method = "POST" name = "dataform">
<input type = "hidden" value = "nothing" name = "action" id = "action">
<input type = "hidden" value = "[% mobile_app %]" name = "mobile_app" id = "mobile_app">

<table width="100%">

<tr class="mobil_hide"><td class="left">
<table id="progressbar" class="progressbar_gen"><tr>[% progress %]<tr></table><br><br><br>
</td></tr>

<tr><td align="center">
<table width="450px" id="app_table">

<tr><td class="left" colspan="3"><h2>[% langreq(title) %]</h2><br></td></tr>

<tr><td class="left" >
	[% langreq('Вернуться к списку и добавить ещё одного заявителя или перейти к завершению записи?') %]
</td></tr>

<tr><td>&nbsp;
</td></tr>

<tr><td class="left" >
	<input class="action_button" type="button" value="&#9665; [% langreq('Вернуться к списку') %]" onclick="back_button();">
	&nbsp;
	<input class="action_button" type="button" value="[% langreq('Перейти к завершению') %] &#9655;" onclick="finish_button();">
</td></tr>
<tr><td colspan="5">&nbsp;</td></tr>
</table>

</form>

<script>

function finish_button(id) {
	$('#action').val('tofinish');
	document.dataform.submit();
};

function back_button() {
	$('#action').val('tolist');
	document.dataform.submit();
};

$(document).ready(mobileScreenCheck);

function mobileScreenCheck() {

	$('#progressbar').css( "display", ( mobilScreen ? 'none' : 'table' ) );
	$('#app_table').attr( "width", ( mobilScreen ? '100%' : '450px' ) );
	$('#app_form').css( "margin", ( mobilScreen ? '0px' : '50px' ) );
	
	if ( !mobilScreen ) { return; }

	$('*').css( "font-size", '15px' );

	$('.mobil_hide').css( "display", 'none' );
	
	$('h2').css( "font-size", '20px' );
	$('h2, .bold_text').css( "color", '#FF6666' );
	
	$('.action_button').css( "height", '60px' );
	$('.action_button').css( "width", '100%' );

	$('#app_form').show();
}

</script>

</div>
