<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="[% static %]/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="[% static %]/jscript/jquery.poshytip.min.js"></script>
<link href="[% static %]/css/tip-redsimple.css" rel="stylesheet" type="text/css">
<link href="[% static %]/css/autoform.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VMS - [% langreq('Новая запись') %]</title>
</head>

<font face="arial">

<center>
<div id = "app_list_div">

<script>

	function isMobile() {
		return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
	}

	var mobilScreen = isMobile();

	if ( mobilScreen ) {
		$('#app_list_div').hide();
	}

</script>

<form action = "[% addr %]?t=[% token %][% IF lang_in_link %]&lang=[% lang_in_link %][% END %]" method = "POST" name = "dataform">
<input type = "hidden" value = "nothing" name = "action" id = "action">
<input type = "hidden" value = "" name = "person" id = "person">
<input type = "hidden" value = "[% mobile_app %]" name = "mobile_app" id = "mobile_app">
<input type = "hidden" value = "[% biometric_data %]" name = "biometric_data" id = "biometric_data">

<table id="app_list" width="100%">

<tr class="mobil_hide"><td><table id="progressbar" class="progressbar_gen"><tr>[% progress %]<tr></table><br><br><br></td></tr>

<tr><td align="center">
<table width="600px" id="app_table">

<tr><td class="left" colspan="5"><h2>[% langreq(title) %]</h2><br></td></tr>

[% IF content_text.0.ID == "X" %]
	<tr><td class="left" colspan="5" id = "applist">
	[% langreq('Вы ещё не зарегистрировали ни одного заявителя в данной записи') %].<br>
	[% langreq('Сделайте это прямо сейчас, нажав на кнопку <b>"Следующий заявитель"</b>') %]!<br><br>
	[% langreq('После заполнения данных первого заявителя, Вы сможете добавить последующих. Обратите внимание, что необходимо внести всех заявителей, которым необходима виза') %].<br>
	</td></tr>
[% ELSE %]
	[% SET i = 0 %][% FOREACH person IN content_text %][% SET i = i + 1 %]
	<tr>
	<td class="left" >[% i %].</td>
	<td class="left" [% IF i == 1 %]id = "applist"[% END %] width="90%">
	[% IF person.Finished == 4 %]<b>[[% langreq('черновик') %]]</b>
	[% ELSIF person.Finished == 19 %]<b>[[% langreq('тип визы') %]]</b>
	[% ELSIF person.Finished == 22 %]<b>[[% langreq('в.центр') %]]</b>
	[% END %]
	[% IF (person.FName != '') || (person.LName != '') %]
	[% person.FName %] [% person.LName %]
	[% ELSE %]
	([% langreq('ФИО пока не указано') %])
	[% END %]</td>
	<td>[% IF person.BirthDate != '00.00.0000' %][% person.BirthDate %][% ELSE %]&nbsp;[% END %]</td>
	<td class="left" >
	<input class="edit_input small_button" type="button" value="[% langreq('Редактировать') %]" onclick="edit_button([% person.ID %]);"></td>
	<td class="left" >
	<input class="small_button" type="button" value="X" onclick="delapp_button([% person.ID %]);"></td>
	</tr>
	[% END %]
	<tr><td colspan="5">
		<div style="height:18px; overflow:hidden;">&nbsp;</div>
	</td></tr>
[% END %]

[% IF content_text.0.ID == "X" %]
	<tr><td class="left" colspan="5"><br><span style="font-size:smaller;">
	[% langreq('На указанную Вами электронную почту отправлено письмо со ссылкой, перейдя по которой, Вы сможете:<br>1. продолжить запись в Визовый центр, которую Вы начали не более 14 дней назад;<br>2. после завершения записи Вы сможете получать информацию о своей записи, отменить её или перенесети на другое время, распечатать уже заполненную шенгенскую анкету;<br>3. после подачи Вы сможете отслеживать статус документов, их отправку в Консульство и готовность к получению.<br><br>Если вы не получили его в течение часа, проверьте папку нежелательные сообщения (спам)') %].<br><br></span>
	</td></tr>
[% END %]

<tr><td class="left" colspan="5">
	<span id="mobile_order_bottom">
	<input class="action_button" type="button" value="&#9665; [% langreq('Назад') %]" onclick="go_button('back');">
	</span>
	&nbsp;
	<span id="mobile_order_top">
[% IF i < max_applicants %]
	<input class="action_button" type="button" value="[% langreq('Следующий заявитель') %] &#9655;" onclick="go_button('addapp');">
[% ELSE %]
	<input class="action_button" type="button" value="[% langreq('Оформить запись') %] &#9655;" onclick="go_button('tofinish');">
[% END %]
	</span>
	
</td></tr>
<tr><td class="left" colspan="5"><br>
[% IF lang_in_link != 'ru' %]
	<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=ru"><b>Перейти на русский язык</b></a>&nbsp;
[% END %]

[% IF lang_in_link != 'en' %]
	<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=en"><b>Switch to English</b></a>&nbsp;
[% END %]

[% IF lang_in_link != 'it' %]
	<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=it"><b>Passare all&prime;italiano</b></a>
[% END %]
</td></tr>
</table>

</td></tr></table>

</form>

<script>

[% IF last_error_name %]
	$('#[% last_error_name %]').poshytip({
		className: 'tip-redsimple',
		content: '[% langreq(last_error_text) %]',
		showOn: 'none',
		alignTo: 'target',
		alignX: 'inner-left',
		offsetX: 0,
		offsetY: 5
	});

	function show_error() {
		$('#[% last_error_name %]').poshytip('hide');
		$('#[% last_error_name %]').poshytip('show');
	}
[% END %]

	

function edit_button(id) {
	$('#action').val('edit');
	$('#person').val(id);
	document.dataform.submit();
};

function delapp_button(id) {
	if ( confirm("[% langreq("Вы уверены, что хотите удалить заявителя из записи?") %]") ) {
		$('#action').val('delapp');
		$('#person').val(id);
		document.dataform.submit();
	}
};

function go_button(where) {
	$('#action').val(where);
	document.dataform.submit();
};

$(document).ready(mobileScreenCheck);



function mobileScreenCheck() {

	$('#progressbar').css( "display", ( mobilScreen ? 'none' : 'table' ) );
	$('#app_table').attr( "width", ( mobilScreen ? '100%' : '600px' ) );
	$('#app_list_div').css( "margin", ( mobilScreen ? '0px' : '50px' ) );
	$('.edit_input').attr( "value", ( mobilScreen ? "\u270E" : '[% langreq('Редактировать') %]' ) );

	if ( !mobilScreen ) {
		[% IF last_error_name %]
			show_error();
		[% END %]

		return;
	}
	
	var temp_span_content = $('#mobile_order_bottom').html();
	$('#mobile_order_bottom').html($('#mobile_order_top').html());
	$('#mobile_order_top').html(temp_span_content);

	$('#app_table').attr( "cellspacing", '10' );
	$('.action_button').css( "height", '60px' );
	$('.action_button').css( "width", '100%' );
	$('.small_button').css( "height", '30px' );
	$('.small_button').css( "width", '30px' );
	$('#spacer').html( '<br>' );

	$('.mobil_hide').css( "display", 'none' );

	$('*').css( "font-size", '15px' );
	
	$('h2').css( "font-size", '20px' );
	$('h2, .bold_text').css( "color", '#FF6666' );
	
	$('#app_list_div').show();

	[% IF last_error_name %]
		show_error();
	[% END %]
}

</script>

[% INCLUDE metrika.tt2 %]

</div>
