<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/jscript/jquery.poshytip.min.js"></script>
<link href="/css/tip-yellowsimple.css" rel="stylesheet" type="text/css">
<link href="/css/tip-redsimple.css" rel="stylesheet" type="text/css">
<link href="/css/autoform.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">

[% IF (special.with_map.0) %]
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
[% END %]

[% IF (special.datepicker.0 || special.post_index.0 ) %]
	<script type="text/javascript" src="/jquery-ui.1.8.min.js"></script>
	<link href="/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
	<style>.ui-datepicker-trigger{ margin-left:4px; }</style>
[% END %]

[% IF ( special.mask.0 || (step == 1) ) %]
	<script type="text/javascript" src="/jquery.maskedinput.min.js"></script>
[% END %]

[% IF javascript_check %]
<noscript>
	<meta http-equiv="refresh" content="0; url=[% addr %]?t=[% token %]&script=no">
</noscript>
[% ELSE %]
<script>
	window.location.href = "[% addr %]?t=[% token %]";
</script>
[% END %]

</head>

<font face="arial">

<center>
<div id="app_form" class="margin_big">

<form action = "[% addr %]?t=[% token %][% IF lang_in_link %]&lang=[% lang_in_link %][% END %]" method = "POST" name = "dataform">
<input type = "hidden" value = "nothing" name = "action" id = "action">
<input type = "hidden" value = "0" name = "mobile_ver" id = "mobile_ver">
<input type = "hidden" value = "[% mobile_app %]" name = "mobile_app" id = "mobile_app">

<table width="100%">

<tr class="mobil_hide"><td><table id="progressbar" class="progressbar_gen"><tr>[% progress %]<tr></table><br><br><br></td></tr>

<tr><td align="center">
<table width="590px" id="app_table">

<tr><td colspan="3"><h2>[% langreq(title) %]</h2><br></td></tr>

[% content_text %]

[% IF (special.with_map.0) %]
<tr class="ymap"><td colspan="3">&nbsp;</td></tr>
<tr class="ymap"><td colspan="3"><div id="YMapsID" class="yandex_map"></div></td></tr>
<tr class="ymap"><td colspan="3">&nbsp;</td></tr>

<script type="text/javascript">
YMaps.jQuery(function () {
	var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
	map.setCenter(new YMaps.GeoPoint([% map_in_page.1 %], [% map_in_page.0 %]), 16);
	map.openBalloon(new YMaps.GeoPoint([% map_in_page.1 %], [% map_in_page.0 %]), "[% map_in_page.2 %]");
	map.addControl(new YMaps.Zoom());
});
</script>
[% END %]

[% FOREACH include_name IN special.include_in %]
	[% INCLUDE $include_name %]
[% END %]

<tr><td colspan="3"><br>
[% IF ( step > min_step ) && ( step != max_step ) %]
	<input class="action_button" type="button" value="&#9665; [% langreq('Назад') %]" onclick="go_button('back');">
	&nbsp;
[% END %]
[% IF ( step < max_step ) && ( step > 0 ) %]
	<input class="action_button" id="next_button" type="button" value="[% langreq('Далее') %] &#9655;" onclick="go_button('forward');">
[% END %]

[% IF ( step == max_step ) %]
	[% IF mobile_app %]
		<input class="action_button" type="button" value="[% langreq('Завершить запись и вернуться в приложение') %] &#9655;" onclick="go_button('mobile_app');">
	[% ELSE %]
		<input class="action_button" type="button" value="[% langreq('Перейти на страницу записи') %] &#9655;" onclick="go_button('app');">
	[% END %]
[% END %]
[% IF step == 1 %]
	</td></tr><tr><td colspan="3">
	<br><a target="_blank" class="dotted_link" href="/otkaz-ot-otvetstvennosti/">[% langreq('Отказ от ответственности и политика конфиденциальности') %]</a><br><br></td></tr>
	<tr><td colspan="3">
[% END %]

[% FOREACH include_name IN special.include_out %]
	[% INCLUDE $include_name %]
[% END %]

</td></tr></table>

</td></tr></table>

</form>

<script>

$(document).ready(mobileScreenCheck);

function isMobile() {
	return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
}

function mobileScreenCheck() {

	var mobilScreen = isMobile();
	
	if ( mobilScreen ) {
		$('#mobile_ver').val(1); 
		init_comm( 'center', 'bottom' );
	}
	else {
		init_comm( 'right', 'center' );
	};
	
	$('#progressbar').css( "display", ( mobilScreen ? 'none' : 'table' ) );
	$('#app_form').css( "margin", ( mobilScreen ? '0px' : '50px' ) );
	
	$('.action_button').css( "height", ( mobilScreen ? '60px' : '' ) );
	$('.action_button').css( "width", ( mobilScreen ? '100%' : '' ) );
	
	if ( mobilScreen ) {
		[% FOREACH picker IN special.datepicker %]
			$('#[% picker %]').datepicker('destroy');
		[% END %]
	}
	else {
		$('#ui-datepicker-div').css( "font-size", "12" );
	}
	
	$('#app_table').attr("cellspacing", ( mobilScreen ? '10' : '' ) );
	$('#app_table').attr("width", ( mobilScreen ? '100%' : '590px' ) );
	
	$("#app_table").each(function(){
		$("td",this).each(function(){
			$(this).css( "display", ( mobilScreen ? 'block' : '' ) );
			$(this).css( "float", ( mobilScreen ? 'left' : '' ) );
			$(this).css( "width", ( mobilScreen ? '100%' : '' ) );
		});
	});
	
	$('*').css( "font-size", ( mobilScreen ? '15px' : '' ) );
	
	$('.input_width').css( "line-height", ( mobilScreen ? '40px' : '' ) );
	$('.input_width').css( "height", ( mobilScreen ? '40px' : '' ) );
	$('.input_width, .info').css( "font-size", ( mobilScreen ? '30px' : '' ) );
	$('.input_width').css( "width", ( mobilScreen ? '100%' : '20em' ) );
	
	[% FOREACH post_index IN special.post_index %]	
		$('#[% post_index %]').autocomplete("widget").css("width", ( mobilScreen ? 600 : 300 ));
		$('#[% post_index %]').autocomplete("widget").css({"font-size": ( mobilScreen ? '30px' : '14px' )});
	[% END %]
	
	$('h2').css( "font-size", ( mobilScreen ? '20px' : '' ) );
	$('h2, .bold_text').css( "color", ( mobilScreen ? '#FF6666' : '' ) );
	
	$(':checkbox, :radio').css( "height", ( mobilScreen ? "20px" : "" ) );
	$(':checkbox, :radio').css( "width", ( mobilScreen ? "20px" : "" ) );
	
	$('.mobil_hide').css( "display", ( mobilScreen ? 'none' : '' ) );
	
	[% IF special.captcha.0 %]
	if ( mobilScreen ) {
	 	var reCaptchaWidth = 304;
		var containerWidth = $('.captcha_container').width();
		var captchaScale = containerWidth / reCaptchaWidth;
		$('#[% special.captcha.0 %]').css('transform', 'scale('+captchaScale+')');
		$('#[% special.captcha.0 %]').css('transform-origin', '0');
		$('.captcha_container').width('150px');
	}
	[% END %]
}

function go_button(where) {

	[% IF ( step == max_step ) %]
		if (where == 'app') {
			location.replace('[% addr %]?t=[% token %][% IF lang_in_link %]&lang=[% lang_in_link %][% END %]');
			return;
		}
	[% END %]
	
	[% IF mobile_app %]
		if (where == 'mobile_app') {
			location.replace('[% addr %]mobile_end.htm');
			return;
		}
	[% END %]
	
	[% IF ( ( step + 1 ) == max_step ) %]
		if (where == 'forward') {
			$('#next_button').prop('disabled', true);
		}
	[% END %]
	
	$('#action').val(where);
	document.dataform.submit();
};

function init_comm(pos_x, pos_y) {
	$('.input_gen, .select_gen,').poshytip('destroy');

	$('.input_gen').poshytip({
		className: 'tip-yellowsimple',
		showOn: 'focus',
		alignTo: 'target',
		alignX: pos_x,
		alignY: pos_y,
		offsetX: 5,
		showTimeout: 100
	});
	
	$('.select_gen').poshytip({
		className: 'tip-yellowsimple',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'center',
		alignY: 'top',
		offsetX: 5,
		showTimeout: 100
	});
	
	$('label').poshytip({
		className: 'tip-yellowsimple',
		alignTo: 'target',
		alignX: pos_x,
		alignY: pos_y,
		offsetX: 5,
		showTimeout: 100
	});
	
		
	$(':radio, :checkbox').poshytip({
		className: 'tip-yellowsimple',
		alignTo: 'target',
		alignX: pos_x,
		alignY: pos_y,
		offsetX: 200,
		showTimeout: 100
	});
	
	$('.tip-yellowsimple .tip-inner ').css( "font-size", ( isMobile() ? '35px' : '' ) );
	$('.tip-yellowsimple .tip-inner ').css( "line-height", ( isMobile() ? '1.2' : '' ) );
}

[% FOREACH picker IN special.datepicker %]
	$('#[% picker %]').datepicker({
		dateFormat: 'dd.mm.yy',
		firstDay: 1,
		showOn: 'both',
		buttonImage: '/vcs/static/images/1x1.png',
		buttonImageOnly:true
	});
[% END %]

[% FOREACH mask IN special.mask %]
	$("#[% mask %]").mask("99.99.9999");
[% END %]

[% FOREACH near IN special.nearest_date %]
	update_nearest_date_[% near %]();
			
	function update_nearest_date_[% near %]()
	{	
		$("#[% near %]").html("<img src='[% vcs_tools %]static/images/autoform_wait.gif' />");
		$.get("[% vcs_tools %]get_nearest.htm", {
			'center': $('#center').val(), 
			'persons': 1, 
			'urgent':0 }, 
			function(data) {
				$("#[% near %]").html(data);
			}
		);
		
		var selected_el = $('#vtype').val();
		var restore_el = 0;
		
		$('#vtype').hide();
		$('#vtype').parent().prepend("<img id='tmp_img' src='[% vcs_tools %]static/images/autoform_wait.gif' />");
		$('#vtype').find('option').remove();
		
		$.get("[% vcs_tools %]get_vtypes.htm", 
			{ 'center': $('#center').val() }, 
			function(xml) {
				$(xml).find('node').each( function() {
					$('#vtype').append(
						'<option value="' + $(this).find('id').text() + '"'+
						(parseInt($(this).find('default').text()) ? ' selected'  : '')+
						'>'+$(this).find('title').text() + '</option>'
					);
				
					if ($(this).find('id').text() == selected_el) { restore_el = 1; };
				});
				
				if (restore_el) {
					$('#vtype').val(selected_el);
				}
				$('#tmp_img').remove();
				$('#vtype').show();
				
			}, 
		'xml');
	}
[% END %]

[% FOREACH timeslot IN special.timeslots %]

	update_timeslots();

	function update_timeslots(date_change) {
				
		$('#timeslot').hide();
		$('#timeslot').find('option').remove();
		$('#timeslot').parent().prepend("<img id='tmp_img' src='[% vcs_tools %]static/images/autoform_wait.gif' />");
		
		var reload_timeslot = $('#timeslot').attr('data-timeslot');

		$.get("[% vcs_tools %]get_times.htm", {
			'center': '[% appinfo.center %]', 
			'persons': '[% appinfo.persons %]', 
			'appdate':$('#app_date').val(),
			'fdate': '[% appinfo.fdate %]', 
			'lang': 'ru',
			
			}, function(xml) {
				$(xml).find('node').each( function() {
					var apptimeValue = $(this).find('id').text();
					var apptimeText = $(this).find('title').text();
					
					$('#timeslot').append(
						'<option value="' + apptimeValue + '" ' +
						( ( ( apptimeValue == "" ) || ( apptimeValue == reload_timeslot ) ) ? 'selected' : '' )
						+ ' >'+ apptimeText + '</option>'
					);
			});
			
			$('#tmp_img').remove();
			$('#timeslot').show();
			
			[% IF last_error_name == 'timeslot' %]
				if ( !date_change ) {
					$(document).ready(function() {
						show_error_tip();
					});
				} else {
					$('#timeslot').poshytip('destroy');
				}
			[% END %]
			
			var al = $(xml).find('urgent_flag');
			if (al.text() != '') {
				var alertText = al.text();
				alert(alertText);
			}
	    }, 'xml');
	};
[% END %]

[% IF last_error_name %]

	[% IF last_error_name != 'timeslot' %]
		$(document).ready(function() {
			show_error_tip();
		});
	[% END %]

	function find_pos(obj) {
		var curtop = 0;
		if (obj.offsetParent) {
			do {
				curtop += obj.offsetTop;
			} while (obj = obj.offsetParent);
			return [curtop];
		}
	}

	function show_error_tip() {
		var mobScreen = isMobile();
		var error_x = ( mobScreen ? 'inner-left' : 'left' );
		var error_y = ( mobScreen ? 'bottom' : 'center' );
		var offset_x = ( mobScreen ? 0 : 5 );
		var offset_y = ( mobScreen ? 5 : 0 );
		
		[% IF last_error_name == 'captha_div' %]
			error_x = 'inner-left';
			offset_x = ( mobScreen ? 0 : 20 );
		[% END %]
		
		window.scroll(0,find_pos(document.getElementById("[% last_error_name %]")));
		
		$('#[% last_error_name %]').poshytip({
			className: 'tip-redsimple',
			content: '[% langreq(last_error_text) %]',
			showOn: 'none',
			alignTo: 'target',
			alignX: error_x,
			alignY: error_y,
			offsetX: offset_x,
			offsetY: offset_y,
		});
		
		$('#[% last_error_name %]').bind({
			click: function(e) {
				$('#[% last_error_name %]').poshytip('hide');
			}
		});
		
		$('#[% last_error_name %]').poshytip('show');
		
		$('.tip-redsimple .tip-inner').css( "font-size", ( isMobile() ? '20px' : '' ) );
		$('.tip-redsimple .tip-inner').css( "line-height", ( isMobile() ? '1.2' : '' ) );
		
		[% IF last_error_name == 'captha_div' %]
			$('.tip-redsimple').each( function() {
				$(this).css('top', (parseFloat($(this).css('top')) + 38) );
			});
		[% ELSE %]
			$('#[% last_error_name %]').css({'background-color' : '#FF9999', 'border-width' : '1px'});
		[% END %]
	}
[% END %]

[% FOREACH post_index IN special.post_index %]

	$('#[% post_index %]').autocomplete({
		source:function( request, response ) {
			$('#[% post_index %]').hide();
			$('#[% post_index %]').parent().append(
				'<span id="[% post_index %]_replacer">' + $('#[% post_index %]').val() + 
				' <img src="[% vcs_tools %]static/images/autoform_wait.gif" /></span>'
			);
			$('#[% post_index %]_replacer').css( "font-size", ( isMobile() ? '1.5em' : '' ) );
			
			$.ajax({
				url: "/autoform/findpcode.htm",
				dataType: "jsonp",
				data: {
					maxRows: 8,
					name_startsWith: request.term,
					center: [% appinfo.center %], 
				},
				success: function( data ) {
					$('#[% post_index %]').poshytip('hide');
					$('#[% post_index %]_replacer').remove();
					$('#[% post_index %]').show();
					response( $.map( data.cmps, function( item ) {
						return {
							value: item.pcode,
							desc: item.cname,
							cdefault: item.cdefault,
							cid: item.cid
						}
					}));
				}
			});
		},
		delay:10,
		minLength:3,
		select: function( event, ui ) {
			$('#[% post_index %]').val( ui.item.value + ', ' + ui.item.desc );
			return false;
		},
		open: function(event, ui) {
			//$('#[% post_index %]').val( '' );
		}		
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.value + '<br><span class="post_index">' + item.desc + "</span></a>" )
			.appendTo( ul );
	};
[% END %]
	
</script>

</div>
