<!DOCTYPE html>
<html lang="ru">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="[% static %]/jquery-1.7.2.min.js"></script>
	<script src="[% static %]/jscript/jquery.poshytip.min.js"></script>
	
	<link href="[% static %]/css/tip-yellowsimple.css" rel="stylesheet" type="text/css">
	<link href="[% static %]/css/tip-redsimple.css" rel="stylesheet" type="text/css">
	<link href="[% static %]/css/autoform.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VMS - [% langreq('Новая запись') %]</title>

	[% IF special.multiple_select %]
		<script src="[% static %]/jscript/autoform.multiple-select.min.js"></script>
		<link href="[% static %]/css/autoform.multiple-select.min.css" rel="stylesheet" type="text/css">	
	[% END %]

	[% IF ( special.datepicker.0 || special.post_index.0 || special.mask.0 ) %]
		<script src="[% static %]/jquery-ui.1.8.min.js"></script>
		<link href="[% static %]/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
		<style>.ui-datepicker-trigger{ margin-left:4px; }</style>
	[% END %]

	[% IF ( special.mask.0 || (step == 2) ) %]
		<script src="[% static %]/jquery.mask.min.js"></script>
	[% END %]

	[% IF javascript_check %]
		<noscript>
			<meta http-equiv="refresh" content="0; url=[% addr %]?t=[% token %]&script=no">
		</noscript>
	[% ELSE %]
		<script>
			window.location.href = "[% addr %]?t=[% token %]";
		</script>
	[% END %]

	</head>
	<body>
		<div style="font-family: Arial; margin: 0 auto;">
			<div id="app_form" class="margin_big">

			<script>

				function isMobile() {
					return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
				}
				
				function isIphone() {
					return (/iPhone|iPad|iPod/i.test(navigator.userAgent));
				}
				
				var mobilScreen = isMobile();

				if ( mobilScreen ) {
					$('#app_form').hide();
				}

			</script>

			<form action = "[% addr %]?t=[% token %][% IF lang_in_link %]&lang=[% lang_in_link %][% END %]" method = "POST" name = "dataform">
				<input type = "hidden" value = "nothing" name = "action" id = "action">
				<input type = "hidden" value = "0" name = "mobile_ver" id = "mobile_ver">
				<input type = "hidden" value = "[% mobile_app %]" name = "mobile_app" id = "mobile_app">
				<input type = "hidden" value = "[% biometric_data %]" name = "biometric_data" id = "biometric_data">
				<input type = "hidden" value = "" name = "last_error_return" id = "last_error_return">
				<input type = "hidden" value = "0" name = "urgent_slots" id = "urgent_slots">

				<table style="width: 100%;">

					<tr class="mobil_hide"><td><table id="progressbar" class="progressbar_gen"><tr>[% progress %]</tr></table><br><br><br></td></tr>

					<tr><td style="text-align: center;">
						<table style="max-width: 590px; margin: 0 auto;" id="app_table">

							<tr><td class="left" colspan="2"><h2>[% langreq(title) %]</h2><br></td></tr>

							[% content_text %]

							[% FOREACH include_name IN special.include_in %]
								[% INCLUDE $include_name %]
							[% END %]

							<tr><td class="left" colspan="2"><br>
							<span id="mobile_order_bottom">
							[% IF ( step > min_step ) && ( step != max_step ) %]
								<input class="action_button" type="button" value="&#9665; [% langreq('Назад') %]" onclick="go_button('back');">
								&nbsp;
							[% END %]
							</span>
							<span id="mobile_order_top">
							[% IF ( special.payment.0) %]
								<input class="action_button" id="payment" type="button" value="[% langreq('Оплатить') %] &#9655;" onclick="pay();">
								&nbsp;
							[% ELSIF ( step < max_step ) && ( step > 0 ) %]
								<input class="action_button" id="next_button" type="button" value="[% langreq('Далее') %] &#9655;" onclick="go_button('forward');">
								&nbsp;
							[% END %]
							</span>

							[% IF ( step == max_step ) %]

								[% IF (service_type == 2) %]
									<input class="action_button" type="button" value="[% langreq('Узнать статус проверки документов прямо сейчас') %] &#9655;" onclick="go_button('app');">
								[% ELSIF mobile_app %]
									<input class="action_button" type="button" value="[% langreq('Завершить запись и вернуться в приложение') %] &#9655;" onclick="go_button('mobile_app');">
								[% ELSE %]
									<input class="action_button" type="button" value="[% langreq('Перейти на страницу записи') %] &#9655;" onclick="go_button('app');">
								[% END %]
							[% END %]

							[% IF step == 1 %]
								</td></tr><tr><td class="left" colspan="2"><br>
								<a target="_blank" class="dotted_link"
								[% IF lang_in_link == 'it' %]								
									href="/informativa-sulle-condizioni-di-fornitura-dei-servizi-e-sulla-politica-di-privacy/"
								[% ELSIF lang_in_link == 'en' %]
									href="/disclaimer/"
								[% ELSE %]
									href="/otkaz-ot-otvetstvennosti/"
								[% END %]
								>[% langreq('Отказ от ответственности и политика конфиденциальности') %]</a>
								</td></tr>
							[% END %]
							
							<tr><td class="left" colspan="2"><br>
							[% IF error_page != 'error' %]
								[% IF lang_in_link != 'ru' %]
									<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=ru"><b>Перейти на русский язык</b></a>&nbsp;
								[% END %]
								
								[% IF lang_in_link != 'en' %]
									<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=en"><b>Switch to English</b></a>&nbsp;
								[% END %]
								
								[% IF lang_in_link != 'it' %]
									<a class="dotted_link" href="[% addr %]?t=[% token %]&lang=it"><b>Passare all&prime;italiano</b></a>
								[% END %]
							[% END %]
							</td></tr>
							
							[% IF step == 1 %]
								<tr><td>&nbsp;<br></td></tr>
							[% END %]

							[% FOREACH include_name IN special.include_out %]
								[% INCLUDE $include_name %]
							[% END %]
						</table>

					</td></tr>
				</table>

			</form>

			<script>
				[% INCLUDE js_elements.tt2 %]
			</script>

			</div>
		</div>
		
		
	</body>
</html>